In [1]:
import os
import pandas as pd

C:\Users\user\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [3]:
# # Walk through "data" folder, printing directories and files 
# # to use their names for file paths

# for root, dirs, files in os.walk("data"):
#     print("Current Directory:", root)
#     print()
#     print("Subdirectories:", dirs)
#     print()
#     print("Files:", files)

In [4]:
main_dir = 'data/raw/'
train_file_name = 'train.csv'
test_file_name = 'test.csv'

In [5]:
train_file_path = os.path.join(main_dir, train_file_name)
test_file_name = os.path.join(main_dir, test_file_name)

In [6]:
train_df = pd.read_csv(train_file_path)
test_df = pd.read_csv(test_file_name)

<ipython-input-6-f12fa1568102>:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  train_df = pd.read_csv(train_file_path)

In [12]:
train_df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [13]:
# test_df.head()

In [9]:
train_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Monthly_Inhand_Salary,84998.0,4194.170850,3183.686167,303.645417,1625.568229,3093.745000,5957.448333,15204.633333
Num_Bank_Accounts,100000.0,17.091280,117.404834,-1.000000,3.000000,6.000000,7.000000,1798.000000
Num_Credit_Card,100000.0,22.474430,129.057410,0.000000,4.000000,5.000000,7.000000,1499.000000
Interest_Rate,100000.0,72.466040,466.422621,1.000000,8.000000,13.000000,20.000000,5797.000000
Delay_from_due_date,100000.0,21.068780,14.860104,-5.000000,10.000000,18.000000,28.000000,67.000000
Num_Credit_Inquiries,98035.0,27.754251,193.177339,0.000000,3.000000,6.000000,9.000000,2597.000000
Credit_Utilization_Ratio,100000.0,32.285173,5.116875,20.000000,28.052567,32.305784,36.496663,50.000000
Total_EMI_per_month,100000.0,1403.118217,8306.041270,0.000000,30.306660,69.249473,161.224249,82331.000000

In [14]:
train_df.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

# Data preprocessing

In [25]:
# drop unnecessary features

In [26]:
train_df.drop(['ID', 'Customer_ID', 'Name', 'SSN', 'Type_of_Loan'], axis=1, inplace=True)

In [15]:
# missing values

In [ ]:
# test_df.replace('', np.nan, inplace=True)

In [31]:
train_df.isnull().sum()

Month                           0
Age                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

In [16]:
# duplicates

In [ ]:
train_df.drop_duplicates(inplace=True)

# Feature importance

In [38]:
# Set pandas to show all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [40]:
train_df[['Monthly_Inhand_Salary', 'Num_of_Delayed_Payment', 'Num_Credit_Inquiries',
        'Credit_History_Age', 'Amount_invested_monthly', 'Monthly_Balance']][:100]

,Monthly_Inhand_Salary,Num_of_Delayed_Payment,Num_Credit_Inquiries,Credit_History_Age,Amount_invested_monthly,Monthly_Balance
0,1824.843333,7,4.0,22 Years and 1 Months,80.41529543900253,312.49408867943663
1,NaN,NaN,4.0,NaN,118.28022162236736,284.62916249607184
2,NaN,7,4.0,22 Years and 3 Months,81.699521264648,331.2098628537912
3,NaN,4,4.0,22 Years and 4 Months,199.4580743910713,223.45130972736786
4,1824.843333,NaN,4.0,22 Years and 5 Months,41.420153086217326,341.48923103222177
5,NaN,4,4.0,22 Years and 6 Months,62.430172331195294,340.4792117872438
6,1824.843333,8_,4.0,22 Years and 7 Months,178.3440674122349,244.5653167062043
7,1824.843333,6,4.0,NaN,24.785216509052056,358.12416760938714
8,3037.986667,4,2.0,26 Years and 7 Months,104.291825168246,470.69062692529184
9,3037.986667,1,2.0,26 Years and 8 Months,40.39123782853101,484.5912142650067
10,3037.986667,-1,2.0,26 Years and 9 Months,58.51597569589465,466.46647639764313
11,NaN,3_,2.0,26 Years and 10 Months,99.30622796053305,465.6762241330048
12,3037.986667,1,2.0,26 Years and 11 Months,130.11542024292334,444.8670318506144
13,3037.986667,0,2.0,27 Years and 0 Months,43.477190144355745,481.505261949182
14,NaN,4,2.0,27 Years and 1 Months,70.10177420755677,464.8806778859809
15,3037.986667,4,2.0,27 Years and 2 Months,218.90434353388733,356.07810855965045
16,12187.220000,8,3.0,17 Years and 9 Months,168.413702679309,1043.3159778669492
17,12187.220000,6,3.0,17 Years and 10 Months,232.86038375993544,998.8692967863226
18,NaN,7,NaN,17 Years and 11 Months,__10000__,715.741367403555
19,12187.220000,5,3.0,NaN,825.2162699393922,426.5134106068658
20,12187.220000,5,3.0,18 Years and 1 Months,430.9475278803298,810.7821526659284
21,12187.220000,6,3.0,18 Years and 2 Months,257.80809942568976,963.9215811205684
22,12187.220000,6,3.0,18 Years and 3 Months,263.17416316163934,968.5555173846187
23,12187.220000,6,3.0,18 Years and 4 Months,__10000__,895.494583180492
24,2612.490833,6,4.0,17 Years and 3 Months,81.22885871073616,433.6047729627723
25,2612.490833,3,4.0,17 Years and 4 Months,124.88181990234848,409.95181177115995
26,2612.490833,9,4.0,17 Years and 5 Months,83.40650880252501,411.42712287098345
27,2612.490833,6,4.0,17 Years and 6 Months,272.3340373956682,262.4995942778403
28,2612.490833,6,4.0,17 Years and 7 Months,__10000__,359.37491550776383
29,2612.490833,6,4.0,17 Years and 8 Months,84.95284817115969,419.8807835023488
30,2612.490833,NaN,4.0,17 Years and 9 Months,71.28367488286933,443.5499567906391
31,2612.490833,9,4.0,17 Years and 10 Months,125.61725053231268,379.21638114119577
32,2853.309167,NaN,4.0,30 Years and 8 Months,276.72539431736266,288.60552234930395
33,NaN,NaN,4.0,30 Years and 9 Months,74.44364104999623,460.88727561667037
34,2853.309167,12,4.0,30 Years and 10 Months,173.13865100158367,392.1922656650829
35,2853.309167,15,4.0,30 Years and 11 Months,96.78548508587444,438.5454315807922
36,2853.309167,17,4.0,31 Years and 0 Months,62.72327834435009,482.6076383223166
37,NaN,15,4.0,31 Years and 1 Months,37.64363788963997,497.6872787770267
38,2853.309167,15,4.0,31 Years and 2 Months,181.0119827315892,394.31893393507744
39,2853.309167,15,4.0,31 Years and 3 Months,181.33090096186916,364.00001570479753
40,NaN,10,2.0,NaN,98.67440994166124,740.1960900583389
41,5988.705000,7,2.0,32 Years and 0 Months,172.93921446875606,705.931285531244
42,5988.705000,7,2.0,NaN,150.05973429800815,698.8107657019921
43,5988.705000,7,2.0,32 Years and 2 Months,618.2023912505837,270.66810874941655
44,5988.705000,7,2.0,32 Years and 3 Months,177.95183568608738,690.9186643139128
45,5988.705000,7,2.0,NaN,235.79032503182026,633.0801749681799
46,5988.705000,4,2.0,32 Years and 5 Months,348.5093995125948,510.36110048740534
47,5988.705000,7,NaN,32 Years and 6 Months,42.63559025189578,796.2349097481042
48,11242.783333,3,2.0,30 Years and 7 Months,378.1712535207537,858.462474411158
49,11242.783333,2,4.0,30 Years and 8 Months,698.8732707169384,547.7604572149734
50,10469.207759,3,4.0,30 Years and 9 Months,188.06432109973838,1038.5694068321734
51,10469.207759,2,4.0,30 Years and 10 Months,337.43495631738324,899.1987716145285
52,10469.207759,4,4.0,30 Years and 11 Months,263.3789089320552,963.2548189998564
53,NaN,3_,4.0,31 Years and 0 Months,86.56638801207531,1140.0673399198365
54,NaN,2_,4.0,31 Years and 1 Months,930.3918977796665,326.24183015224526
55,10469.207759,2,4.0,31 Years and 2 Months,870.52238171816,396.1113462137519
56,NaN,11,5.0,NaN,162.4410091967751,298.19215813115227
57,2611.115000,14,5.0,14 Years and 8 Months,38.4369827577036,392.19618457022375
58,NaN,14,5.0,14 Years and 9 Months,199.7207654954979,260.9124018324295
59,2611.115000,14,5.0,14 Years and 10 Months,220.55219192916718,260.0809753987602
60,2611.115000,14,5.0,14 Years and 11 Months,NaN,397.2283547370202
61,2611.115000,14,5.0,15 Years and 0 Months,NaN,410.6743660782873
62,NaN,11,5.0,15 Years and 1 Months,55.45978063925893,395.17338668866836
63,2611.115000,14,9.0,15 Years and 2 Months,29.32636371091455,411.3068036170128
64,9843.867500,11,3.0,21 Years and 4 Months,215.19351594560425,802.3004421328528
65,9843.867500,8,3.0,21 Years and 5 Months,212.23560220847847,785.2583558699787
66,NaN,11,3.0,21 Years and 6 Months,470.3857956796373,547.1081623988198
67,NaN,14,8.0,21 Years and 7 Months,225.08204945419,772.411908624267
68,9843.867500,11,8.0,21 Years and 8 Months,649.8093641841638,367.6845938942932
69,9843.867500,14,8.0,21 Years and 9 Months,546.3805705230692,491.11338755538793
70,9843.867500,NaN,8.0,21 Years and 10 Months,215.4682977385688,792.0256603398883
71,9843.867500,11,8.0,21 Years and 11 Months,254.57176724837916,742.9221908300779
72,2825.233333,0,2.0,NaN,154.352781097101,341.55442316289026
73,2825.233333,0,2.0,26 Years and 6 Months,298.7444693112266,227.1627349487646
74,2825.233333,0,5.0,26 Years and 7 Months,140.8206959818371,375.0865082781542
75,2825.233333,0,5.0,26 Years and 8 Months,233.6055264233428,292.3016778366485
76,2825.233333,0,5.0,26 Years and 9 Months,184.70057162057685,341.20663263941435
77,2825.233333,0,5.0,NaN,137.71742489512621,378.18977936486505
78,2825.233333,2,5.0,26 Years and 11 Months,188.3949004901688,337.51230376982244
79,NaN,2,5.0,27 Years and 0 Months,252.6448271968889,273.2623770631024
80,2948.605833,20,4.0,19 Years and 2 Months,117.30669710658556,362.54571194023237
81,2948.605833,20,4.0,19 Years and 3 Months,70.13107792087979,399.7213311259382
82,NaN,20,8.0,19 Years and 4 Months,270.18258222151513,229.6698268253028
83,2948.605833,22,8.0,19 Years and 5 Months,25.192561910314712,444.65984713650323
84,2948.605833,20,8.0,19 Years and 6 Months,243.32968479530567,276.5227242515123
85,2948.605833,20,8.0,19 Years and 7 Months,72.86008181289458,406.9923272339233
86,2948.605833,20,8.0,19 Years and 8 Months,35.427169541683696,444.4252395051343
87,2948.605833,17,8.0,NaN,25.969611914778515,443.88279713203934
88,7266.686667,0,3.0,25 Years and 5 Months,98.93176402067013,732.563531674279
89,7266.686667,2,3.0,25 Years and 6 Months,157.174788304235,674.3205073907143
90,7266.686667,0,3.0,25 Years and 7 Months,298.1889114624804,543.3063842324688
91,7266.686667,2,3.0,25 Years and 8 Months,NaN,86.63611982901625
92,7266.686667,2,3.0,25 Years and 9 Months,279.61862207772435,561.8766736172248
93,7266.686667,0,3.0,25 Years and 10 Months,686.1262165951837,195.36907909976551
94,NaN,2,3.0,25 Years and 11 Months,164.0748218779106,667.4204738170387
95,7266.686667,NaN,3.0,26 Years and 0 Months,98.44195128223792,733.0533444127112
96,4766.680000,8,3.0,26 Years and 10 Months,243.73543739209438,378.54048018698535
97,4766.680000,10,3.0,26 Years and 11 Months,142.75186411942676,459.52405345965286
98,NaN,11,3.0,27 Years and 0 Months,33.349568589344514,558.9263489897351
99,4766.680000,7,3.0,27 Years and 1 Months,494.8422277056662,147.43368987341347