In [1]:
import os
import numpy as np
import pandas as pd

C:\Users\user\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
# # Walk through "data" folder, printing directories and files 
# # to use their names for file paths

# for root, dirs, files in os.walk("data"):
#     print("Current Directory:", root)
#     print()
#     print("Subdirectories:", dirs)
#     print()
#     print("Files:", files)

In [3]:
main_dir = 'data/raw/'
train_file_name = 'train.csv'
test_file_name = 'test.csv'

In [4]:
train_file_path = os.path.join(main_dir, train_file_name)
test_file_name = os.path.join(main_dir, test_file_name)

In [5]:
train_df = pd.read_csv(train_file_path)
test_df = pd.read_csv(test_file_name)

<ipython-input-5-f12fa1568102>:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  train_df = pd.read_csv(train_file_path)

In [6]:
train_df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [7]:
train_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Monthly_Inhand_Salary,84998.0,4194.170850,3183.686167,303.645417,1625.568229,3093.745000,5957.448333,15204.633333
Num_Bank_Accounts,100000.0,17.091280,117.404834,-1.000000,3.000000,6.000000,7.000000,1798.000000
Num_Credit_Card,100000.0,22.474430,129.057410,0.000000,4.000000,5.000000,7.000000,1499.000000
Interest_Rate,100000.0,72.466040,466.422621,1.000000,8.000000,13.000000,20.000000,5797.000000
Delay_from_due_date,100000.0,21.068780,14.860104,-5.000000,10.000000,18.000000,28.000000,67.000000
Num_Credit_Inquiries,98035.0,27.754251,193.177339,0.000000,3.000000,6.000000,9.000000,2597.000000
Credit_Utilization_Ratio,100000.0,32.285173,5.116875,20.000000,28.052567,32.305784,36.496663,50.000000
Total_EMI_per_month,100000.0,1403.118217,8306.041270,0.000000,30.306660,69.249473,161.224249,82331.000000

In [8]:
train_df.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

# Data preprocessing

In [9]:
# Set pandas to show all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [10]:
# missing values

In [11]:
train_df.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

In [12]:
train_df[['Customer_ID', 'Monthly_Inhand_Salary', 'Num_of_Delayed_Payment', 'Num_Credit_Inquiries',
        'Credit_History_Age', 'Amount_invested_monthly', 'Monthly_Balance']][:100]

,Customer_ID,Monthly_Inhand_Salary,Num_of_Delayed_Payment,Num_Credit_Inquiries,Credit_History_Age,Amount_invested_monthly,Monthly_Balance
0,CUS_0xd40,1824.843333,7,4.0,22 Years and 1 Months,80.41529543900253,312.49408867943663
1,CUS_0xd40,NaN,NaN,4.0,NaN,118.28022162236736,284.62916249607184
2,CUS_0xd40,NaN,7,4.0,22 Years and 3 Months,81.699521264648,331.2098628537912
3,CUS_0xd40,NaN,4,4.0,22 Years and 4 Months,199.4580743910713,223.45130972736786
4,CUS_0xd40,1824.843333,NaN,4.0,22 Years and 5 Months,41.420153086217326,341.48923103222177
5,CUS_0xd40,NaN,4,4.0,22 Years and 6 Months,62.430172331195294,340.4792117872438
6,CUS_0xd40,1824.843333,8_,4.0,22 Years and 7 Months,178.3440674122349,244.5653167062043
7,CUS_0xd40,1824.843333,6,4.0,NaN,24.785216509052056,358.12416760938714
8,CUS_0x21b1,3037.986667,4,2.0,26 Years and 7 Months,104.291825168246,470.69062692529184
9,CUS_0x21b1,3037.986667,1,2.0,26 Years and 8 Months,40.39123782853101,484.5912142650067
10,CUS_0x21b1,3037.986667,-1,2.0,26 Years and 9 Months,58.51597569589465,466.46647639764313
11,CUS_0x21b1,NaN,3_,2.0,26 Years and 10 Months,99.30622796053305,465.6762241330048
12,CUS_0x21b1,3037.986667,1,2.0,26 Years and 11 Months,130.11542024292334,444.8670318506144
13,CUS_0x21b1,3037.986667,0,2.0,27 Years and 0 Months,43.477190144355745,481.505261949182
14,CUS_0x21b1,NaN,4,2.0,27 Years and 1 Months,70.10177420755677,464.8806778859809
15,CUS_0x21b1,3037.986667,4,2.0,27 Years and 2 Months,218.90434353388733,356.07810855965045
16,CUS_0x2dbc,12187.220000,8,3.0,17 Years and 9 Months,168.413702679309,1043.3159778669492
17,CUS_0x2dbc,12187.220000,6,3.0,17 Years and 10 Months,232.86038375993544,998.8692967863226
18,CUS_0x2dbc,NaN,7,NaN,17 Years and 11 Months,__10000__,715.741367403555
19,CUS_0x2dbc,12187.220000,5,3.0,NaN,825.2162699393922,426.5134106068658
20,CUS_0x2dbc,12187.220000,5,3.0,18 Years and 1 Months,430.9475278803298,810.7821526659284
21,CUS_0x2dbc,12187.220000,6,3.0,18 Years and 2 Months,257.80809942568976,963.9215811205684
22,CUS_0x2dbc,12187.220000,6,3.0,18 Years and 3 Months,263.17416316163934,968.5555173846187
23,CUS_0x2dbc,12187.220000,6,3.0,18 Years and 4 Months,__10000__,895.494583180492
24,CUS_0xb891,2612.490833,6,4.0,17 Years and 3 Months,81.22885871073616,433.6047729627723
25,CUS_0xb891,2612.490833,3,4.0,17 Years and 4 Months,124.88181990234848,409.95181177115995
26,CUS_0xb891,2612.490833,9,4.0,17 Years and 5 Months,83.40650880252501,411.42712287098345
27,CUS_0xb891,2612.490833,6,4.0,17 Years and 6 Months,272.3340373956682,262.4995942778403
28,CUS_0xb891,2612.490833,6,4.0,17 Years and 7 Months,__10000__,359.37491550776383
29,CUS_0xb891,2612.490833,6,4.0,17 Years and 8 Months,84.95284817115969,419.8807835023488
30,CUS_0xb891,2612.490833,NaN,4.0,17 Years and 9 Months,71.28367488286933,443.5499567906391
31,CUS_0xb891,2612.490833,9,4.0,17 Years and 10 Months,125.61725053231268,379.21638114119577
32,CUS_0x1cdb,2853.309167,NaN,4.0,30 Years and 8 Months,276.72539431736266,288.60552234930395
33,CUS_0x1cdb,NaN,NaN,4.0,30 Years and 9 Months,74.44364104999623,460.88727561667037
34,CUS_0x1cdb,2853.309167,12,4.0,30 Years and 10 Months,173.13865100158367,392.1922656650829
35,CUS_0x1cdb,2853.309167,15,4.0,30 Years and 11 Months,96.78548508587444,438.5454315807922
36,CUS_0x1cdb,2853.309167,17,4.0,31 Years and 0 Months,62.72327834435009,482.6076383223166
37,CUS_0x1cdb,NaN,15,4.0,31 Years and 1 Months,37.64363788963997,497.6872787770267
38,CUS_0x1cdb,2853.309167,15,4.0,31 Years and 2 Months,181.0119827315892,394.31893393507744
39,CUS_0x1cdb,2853.309167,15,4.0,31 Years and 3 Months,181.33090096186916,364.00001570479753
40,CUS_0x95ee,NaN,10,2.0,NaN,98.67440994166124,740.1960900583389
41,CUS_0x95ee,5988.705000,7,2.0,32 Years and 0 Months,172.93921446875606,705.931285531244
42,CUS_0x95ee,5988.705000,7,2.0,NaN,150.05973429800815,698.8107657019921
43,CUS_0x95ee,5988.705000,7,2.0,32 Years and 2 Months,618.2023912505837,270.66810874941655
44,CUS_0x95ee,5988.705000,7,2.0,32 Years and 3 Months,177.95183568608738,690.9186643139128
45,CUS_0x95ee,5988.705000,7,2.0,NaN,235.79032503182026,633.0801749681799
46,CUS_0x95ee,5988.705000,4,2.0,32 Years and 5 Months,348.5093995125948,510.36110048740534
47,CUS_0x95ee,5988.705000,7,NaN,32 Years and 6 Months,42.63559025189578,796.2349097481042
48,CUS_0x284a,11242.783333,3,2.0,30 Years and 7 Months,378.1712535207537,858.462474411158
49,CUS_0x284a,11242.783333,2,4.0,30 Years and 8 Months,698.8732707169384,547.7604572149734
50,CUS_0x284a,10469.207759,3,4.0,30 Years and 9 Months,188.06432109973838,1038.5694068321734
51,CUS_0x284a,10469.207759,2,4.0,30 Years and 10 Months,337.43495631738324,899.1987716145285
52,CUS_0x284a,10469.207759,4,4.0,30 Years and 11 Months,263.3789089320552,963.2548189998564
53,CUS_0x284a,NaN,3_,4.0,31 Years and 0 Months,86.56638801207531,1140.0673399198365
54,CUS_0x284a,NaN,2_,4.0,31 Years and 1 Months,930.3918977796665,326.24183015224526
55,CUS_0x284a,10469.207759,2,4.0,31 Years and 2 Months,870.52238171816,396.1113462137519
56,CUS_0x5407,NaN,11,5.0,NaN,162.4410091967751,298.19215813115227
57,CUS_0x5407,2611.115000,14,5.0,14 Years and 8 Months,38.4369827577036,392.19618457022375
58,CUS_0x5407,NaN,14,5.0,14 Years and 9 Months,199.7207654954979,260.9124018324295
59,CUS_0x5407,2611.115000,14,5.0,14 Years and 10 Months,220.55219192916718,260.0809753987602
60,CUS_0x5407,2611.115000,14,5.0,14 Years and 11 Months,NaN,397.2283547370202
61,CUS_0x5407,2611.115000,14,5.0,15 Years and 0 Months,NaN,410.6743660782873
62,CUS_0x5407,NaN,11,5.0,15 Years and 1 Months,55.45978063925893,395.17338668866836
63,CUS_0x5407,2611.115000,14,9.0,15 Years and 2 Months,29.32636371091455,411.3068036170128
64,CUS_0x4157,9843.867500,11,3.0,21 Years and 4 Months,215.19351594560425,802.3004421328528
65,CUS_0x4157,9843.867500,8,3.0,21 Years and 5 Months,212.23560220847847,785.2583558699787
66,CUS_0x4157,NaN,11,3.0,21 Years and 6 Months,470.3857956796373,547.1081623988198
67,CUS_0x4157,NaN,14,8.0,21 Years and 7 Months,225.08204945419,772.411908624267
68,CUS_0x4157,9843.867500,11,8.0,21 Years and 8 Months,649.8093641841638,367.6845938942932
69,CUS_0x4157,9843.867500,14,8.0,21 Years and 9 Months,546.3805705230692,491.11338755538793
70,CUS_0x4157,9843.867500,NaN,8.0,21 Years and 10 Months,215.4682977385688,792.0256603398883
71,CUS_0x4157,9843.867500,11,8.0,21 Years and 11 Months,254.57176724837916,742.9221908300779
72,CUS_0xba08,2825.233333,0,2.0,NaN,154.352781097101,341.55442316289026
73,CUS_0xba08,2825.233333,0,2.0,26 Years and 6 Months,298.7444693112266,227.1627349487646
74,CUS_0xba08,2825.233333,0,5.0,26 Years and 7 Months,140.8206959818371,375.0865082781542
75,CUS_0xba08,2825.233333,0,5.0,26 Years and 8 Months,233.6055264233428,292.3016778366485
76,CUS_0xba08,2825.233333,0,5.0,26 Years and 9 Months,184.70057162057685,341.20663263941435
77,CUS_0xba08,2825.233333,0,5.0,NaN,137.71742489512621,378.18977936486505
78,CUS_0xba08,2825.233333,2,5.0,26 Years and 11 Months,188.3949004901688,337.51230376982244
79,CUS_0xba08,NaN,2,5.0,27 Years and 0 Months,252.6448271968889,273.2623770631024
80,CUS_0xa66b,2948.605833,20,4.0,19 Years and 2 Months,117.30669710658556,362.54571194023237
81,CUS_0xa66b,2948.605833,20,4.0,19 Years and 3 Months,70.13107792087979,399.7213311259382
82,CUS_0xa66b,NaN,20,8.0,19 Years and 4 Months,270.18258222151513,229.6698268253028
83,CUS_0xa66b,2948.605833,22,8.0,19 Years and 5 Months,25.192561910314712,444.65984713650323
84,CUS_0xa66b,2948.605833,20,8.0,19 Years and 6 Months,243.32968479530567,276.5227242515123
85,CUS_0xa66b,2948.605833,20,8.0,19 Years and 7 Months,72.86008181289458,406.9923272339233
86,CUS_0xa66b,2948.605833,20,8.0,19 Years and 8 Months,35.427169541683696,444.4252395051343
87,CUS_0xa66b,2948.605833,17,8.0,NaN,25.969611914778515,443.88279713203934
88,CUS_0xc0ab,7266.686667,0,3.0,25 Years and 5 Months,98.93176402067013,732.563531674279
89,CUS_0xc0ab,7266.686667,2,3.0,25 Years and 6 Months,157.174788304235,674.3205073907143
90,CUS_0xc0ab,7266.686667,0,3.0,25 Years and 7 Months,298.1889114624804,543.3063842324688
91,CUS_0xc0ab,7266.686667,2,3.0,25 Years and 8 Months,NaN,86.63611982901625
92,CUS_0xc0ab,7266.686667,2,3.0,25 Years and 9 Months,279.61862207772435,561.8766736172248
93,CUS_0xc0ab,7266.686667,0,3.0,25 Years and 10 Months,686.1262165951837,195.36907909976551
94,CUS_0xc0ab,NaN,2,3.0,25 Years and 11 Months,164.0748218779106,667.4204738170387
95,CUS_0xc0ab,7266.686667,NaN,3.0,26 Years and 0 Months,98.44195128223792,733.0533444127112
96,CUS_0x3e45,4766.680000,8,3.0,26 Years and 10 Months,243.73543739209438,378.54048018698535
97,CUS_0x3e45,4766.680000,10,3.0,26 Years and 11 Months,142.75186411942676,459.52405345965286
98,CUS_0x3e45,NaN,11,3.0,27 Years and 0 Months,33.349568589344514,558.9263489897351
99,CUS_0x3e45,4766.680000,7,3.0,27 Years and 1 Months,494.8422277056662,147.43368987341347

In [13]:
for column in ["Monthly_Inhand_Salary", "Num_Credit_Inquiries"]:
    train_df[column] = train_df.groupby("Customer_ID")[column].transform(
        lambda x: x.fillna(method="ffill").fillna(method="bfill")
    )

In [14]:
train_df.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary           0
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries            0
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

In [15]:
def convert_to_months(age_str):
    if pd.isna(age_str):  # Check if the value is NaN or None
        return None
    
    years, months = 0, 0
    # Extract the number of years and months from the string
    if 'Year' in age_str:
        years = int(age_str.split(' Year')[0])  # Get years
    if 'Month' in age_str:
        months = int(age_str.split(' Month')[0].split('and')[-1].strip())  # Get months
    return (years * 12) + months  # Convert to months

In [16]:
train_df["age_in_months"] = train_df["Credit_History_Age"].apply(convert_to_months)

In [17]:
train_df.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary           0
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries            0
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
age_in_months                9030
dtype: int64

In [18]:
def fill_first_value(x):
    """Find the first non-null value in the group or infer from the second element."""
    if pd.isna(x.iloc[0]):  # If the first element is NaN
        non_nulls = x.dropna()
        if len(non_nulls) > 0:
            return non_nulls.iloc[0] - 1  # Use the second element - 1
        else:
            return np.nan  # If the entire group is NaN, keep it NaN
    return x.iloc[0]  # Otherwise, use the first element

In [19]:
train_df['age_in_months_filled'] = train_df.groupby('Customer_ID')['age_in_months'].transform(
    lambda x: fill_first_value(x) + range(len(x))
)

In [20]:
train_df.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary           0
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries            0
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
age_in_months                9030
age_in_months_filled            0
dtype: int64

In [21]:
# Columns to clean
columns_to_clean = ["Num_of_Delayed_Payment", "Amount_invested_monthly", "Monthly_Balance"]

# Step 1: Replace '10000' with NaN in selected columns
train_df[columns_to_clean] = train_df[columns_to_clean].replace("__10000__", np.nan)

# Step 2: Fix values like '8_' to '8' in selected columns
train_df[columns_to_clean] = train_df[columns_to_clean].astype(str).apply(lambda col: col.str.replace(r"_$", "", regex=True))

# Step 3: Convert selected columns to numeric (errors='coerce' converts invalid values to NaN)
train_df[columns_to_clean] = train_df[columns_to_clean].apply(pd.to_numeric, errors="coerce")

# Step 4: Replace negative values with NaN in selected columns
train_df[columns_to_clean] = train_df[columns_to_clean].where(train_df[columns_to_clean] >= 0, np.nan)

In [22]:
train_df[['Customer_ID', 'Num_of_Delayed_Payment', 'Amount_invested_monthly', 'Monthly_Balance']][:100]

,Customer_ID,Num_of_Delayed_Payment,Amount_invested_monthly,Monthly_Balance
0,CUS_0xd40,7.0,80.415295,312.494089
1,CUS_0xd40,NaN,118.280222,284.629162
2,CUS_0xd40,7.0,81.699521,331.209863
3,CUS_0xd40,4.0,199.458074,223.451310
4,CUS_0xd40,NaN,41.420153,341.489231
5,CUS_0xd40,4.0,62.430172,340.479212
6,CUS_0xd40,8.0,178.344067,244.565317
7,CUS_0xd40,6.0,24.785217,358.124168
8,CUS_0x21b1,4.0,104.291825,470.690627
9,CUS_0x21b1,1.0,40.391238,484.591214
10,CUS_0x21b1,NaN,58.515976,466.466476
11,CUS_0x21b1,3.0,99.306228,465.676224
12,CUS_0x21b1,1.0,130.115420,444.867032
13,CUS_0x21b1,0.0,43.477190,481.505262
14,CUS_0x21b1,4.0,70.101774,464.880678
15,CUS_0x21b1,4.0,218.904344,356.078109
16,CUS_0x2dbc,8.0,168.413703,1043.315978
17,CUS_0x2dbc,6.0,232.860384,998.869297
18,CUS_0x2dbc,7.0,NaN,715.741367
19,CUS_0x2dbc,5.0,825.216270,426.513411
20,CUS_0x2dbc,5.0,430.947528,810.782153
21,CUS_0x2dbc,6.0,257.808099,963.921581
22,CUS_0x2dbc,6.0,263.174163,968.555517
23,CUS_0x2dbc,6.0,NaN,895.494583
24,CUS_0xb891,6.0,81.228859,433.604773
25,CUS_0xb891,3.0,124.881820,409.951812
26,CUS_0xb891,9.0,83.406509,411.427123
27,CUS_0xb891,6.0,272.334037,262.499594
28,CUS_0xb891,6.0,NaN,359.374916
29,CUS_0xb891,6.0,84.952848,419.880784
30,CUS_0xb891,NaN,71.283675,443.549957
31,CUS_0xb891,9.0,125.617251,379.216381
32,CUS_0x1cdb,NaN,276.725394,288.605522
33,CUS_0x1cdb,NaN,74.443641,460.887276
34,CUS_0x1cdb,12.0,173.138651,392.192266
35,CUS_0x1cdb,15.0,96.785485,438.545432
36,CUS_0x1cdb,17.0,62.723278,482.607638
37,CUS_0x1cdb,15.0,37.643638,497.687279
38,CUS_0x1cdb,15.0,181.011983,394.318934
39,CUS_0x1cdb,15.0,181.330901,364.000016
40,CUS_0x95ee,10.0,98.674410,740.196090
41,CUS_0x95ee,7.0,172.939214,705.931286
42,CUS_0x95ee,7.0,150.059734,698.810766
43,CUS_0x95ee,7.0,618.202391,270.668109
44,CUS_0x95ee,7.0,177.951836,690.918664
45,CUS_0x95ee,7.0,235.790325,633.080175
46,CUS_0x95ee,4.0,348.509400,510.361100
47,CUS_0x95ee,7.0,42.635590,796.234910
48,CUS_0x284a,3.0,378.171254,858.462474
49,CUS_0x284a,2.0,698.873271,547.760457
50,CUS_0x284a,3.0,188.064321,1038.569407
51,CUS_0x284a,2.0,337.434956,899.198772
52,CUS_0x284a,4.0,263.378909,963.254819
53,CUS_0x284a,3.0,86.566388,1140.067340
54,CUS_0x284a,2.0,930.391898,326.241830
55,CUS_0x284a,2.0,870.522382,396.111346
56,CUS_0x5407,11.0,162.441009,298.192158
57,CUS_0x5407,14.0,38.436983,392.196185
58,CUS_0x5407,14.0,199.720765,260.912402
59,CUS_0x5407,14.0,220.552192,260.080975
60,CUS_0x5407,14.0,NaN,397.228355
61,CUS_0x5407,14.0,NaN,410.674366
62,CUS_0x5407,11.0,55.459781,395.173387
63,CUS_0x5407,14.0,29.326364,411.306804
64,CUS_0x4157,11.0,215.193516,802.300442
65,CUS_0x4157,8.0,212.235602,785.258356
66,CUS_0x4157,11.0,470.385796,547.108162
67,CUS_0x4157,14.0,225.082049,772.411909
68,CUS_0x4157,11.0,649.809364,367.684594
69,CUS_0x4157,14.0,546.380571,491.113388
70,CUS_0x4157,NaN,215.468298,792.025660
71,CUS_0x4157,11.0,254.571767,742.922191
72,CUS_0xba08,0.0,154.352781,341.554423
73,CUS_0xba08,0.0,298.744469,227.162735
74,CUS_0xba08,0.0,140.820696,375.086508
75,CUS_0xba08,0.0,233.605526,292.301678
76,CUS_0xba08,0.0,184.700572,341.206633
77,CUS_0xba08,0.0,137.717425,378.189779
78,CUS_0xba08,2.0,188.394900,337.512304
79,CUS_0xba08,2.0,252.644827,273.262377
80,CUS_0xa66b,20.0,117.306697,362.545712
81,CUS_0xa66b,20.0,70.131078,399.721331
82,CUS_0xa66b,20.0,270.182582,229.669827
83,CUS_0xa66b,22.0,25.192562,444.659847
84,CUS_0xa66b,20.0,243.329685,276.522724
85,CUS_0xa66b,20.0,72.860082,406.992327
86,CUS_0xa66b,20.0,35.427170,444.425240
87,CUS_0xa66b,17.0,25.969612,443.882797
88,CUS_0xc0ab,0.0,98.931764,732.563532
89,CUS_0xc0ab,2.0,157.174788,674.320507
90,CUS_0xc0ab,0.0,298.188911,543.306384
91,CUS_0xc0ab,2.0,NaN,86.636120
92,CUS_0xc0ab,2.0,279.618622,561.876674
93,CUS_0xc0ab,0.0,686.126217,195.369079
94,CUS_0xc0ab,2.0,164.074822,667.420474
95,CUS_0xc0ab,NaN,98.441951,733.053344
96,CUS_0x3e45,8.0,243.735437,378.540480
97,CUS_0x3e45,10.0,142.751864,459.524053
98,CUS_0x3e45,11.0,33.349569,558.926349
99,CUS_0x3e45,7.0,494.842228,147.433690

In [23]:
train_df.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary           0
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7646
Changed_Credit_Limit            0
Num_Credit_Inquiries            0
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      8784
Payment_Behaviour               0
Monthly_Balance              1209
Credit_Score                    0
age_in_months                9030
age_in_months_filled            0
dtype: int64

In [ ]:
# drop unnecessary features

In [25]:
train_df.drop(['ID', 'Customer_ID', 'Name', 'SSN', 'Type_of_Loan', 'Credit_History_Age', 'age_in_months'], axis=1, inplace=True)

In [ ]:
# duplicates

In [26]:
train_df.drop_duplicates(inplace=True)

In [ ]:
# rename

In [27]:
# Rename 'age_in_months_filled' to 'Credit_History_Age'
train_df.rename(columns={'age_in_months_filled': 'Credit_History_Age'}, inplace=True)

# Feature importance

In [28]:
train_df[:100]

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Credit_History_Age
0,January,23,Scientist,19114.12,1824.843333,3,4,3,4,3,7.0,11.27,4.0,_,809.98,26.822620,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good,265.0
1,February,23,Scientist,19114.12,1824.843333,3,4,3,4,-1,NaN,11.27,4.0,Good,809.98,31.944960,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good,266.0
2,March,-500,Scientist,19114.12,1824.843333,3,4,3,4,3,7.0,_,4.0,Good,809.98,28.609352,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good,267.0
3,April,23,Scientist,19114.12,1824.843333,3,4,3,4,5,4.0,6.27,4.0,Good,809.98,31.377862,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good,268.0
4,May,23,Scientist,19114.12,1824.843333,3,4,3,4,6,NaN,11.27,4.0,Good,809.98,24.797347,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good,269.0
5,June,23,Scientist,19114.12,1824.843333,3,4,3,4,8,4.0,9.27,4.0,Good,809.98,27.262259,No,49.574949,62.430172,!@9#%8,340.479212,Good,270.0
6,July,23,Scientist,19114.12,1824.843333,3,4,3,4,3,8.0,11.27,4.0,Good,809.98,22.537593,No,49.574949,178.344067,Low_spent_Small_value_payments,244.565317,Good,271.0
7,August,23,Scientist,19114.12,1824.843333,3,4,3,4,3,6.0,11.27,4.0,Good,809.98,23.933795,No,49.574949,24.785217,High_spent_Medium_value_payments,358.124168,Standard,272.0
8,January,28_,_______,34847.84,3037.986667,2,4,6,1,3,4.0,5.42,2.0,Good,605.03,24.464031,No,18.816215,104.291825,Low_spent_Small_value_payments,470.690627,Standard,319.0
9,February,28,Teacher,34847.84,3037.986667,2,4,6,1,7,1.0,7.42,2.0,Good,605.03,38.550848,No,18.816215,40.391238,High_spent_Large_value_payments,484.591214,Good,320.0
10,March,28,Teacher,34847.84_,3037.986667,2,1385,6,1,3,NaN,5.42,2.0,_,605.03,33.224951,No,18.816215,58.515976,High_spent_Large_value_payments,466.466476,Standard,321.0
11,April,28,Teacher,34847.84,3037.986667,2,4,6,1,3,3.0,5.42,2.0,Good,605.03,39.182656,No,18.816215,99.306228,Low_spent_Medium_value_payments,465.676224,Good,322.0
12,May,28,Teacher,34847.84,3037.986667,2,4,6,1,3,1.0,6.42,2.0,Good,605.03,34.977895,No,18.816215,130.115420,Low_spent_Small_value_payments,444.867032,Good,323.0
13,June,28,Teacher,34847.84,3037.986667,2,4,6,1,3,0.0,5.42,2.0,Good,605.03,33.381010,No,18.816215,43.477190,High_spent_Large_value_payments,481.505262,Good,324.0
14,July,28,Teacher,34847.84,3037.986667,2,4,6,1,3,4.0,5.42,2.0,Good,605.03,31.131702,NM,18.816215,70.101774,High_spent_Medium_value_payments,464.880678,Good,325.0
15,August,28,Teacher,34847.84,3037.986667,2,4,6,1,3,4.0,5.42,2.0,Good,605.03,32.933856,No,18.816215,218.904344,Low_spent_Small_value_payments,356.078109,Good,326.0
16,January,34,_______,143162.64,12187.220000,1,5,8,3,5,8.0,7.1,3.0,Good,1303.01,28.616735,No,246.992319,168.413703,!@9#%8,1043.315978,Good,213.0
17,February,34,Engineer,143162.64,12187.220000,1,5,8,3,13,6.0,7.1,3.0,Good,1303.01,41.702573,No,246.992319,232.860384,High_spent_Small_value_payments,998.869297,Good,214.0
18,March,34,_______,143162.64,12187.220000,1,5,8,3,8,7.0,11.1,3.0,Good,1303.01,26.519815,No,246.992319,NaN,High_spent_Small_value_payments,715.741367,Good,215.0
19,April,34,Engineer,143162.64,12187.220000,1,5,8,3,8,5.0,9.1,3.0,_,1303.01,39.501648,No,246.992319,825.216270,Low_spent_Medium_value_payments,426.513411,Good,216.0
20,May,34,_______,143162.64,12187.220000,1,5,8,3,10,5.0,7.1,3.0,Good,1303.01,31.376150,No,246.992319,430.947528,Low_spent_Large_value_payments,810.782153,Good,217.0
21,June,34,Engineer,143162.64,12187.220000,1,5,8,967,8,6.0,7.1,3.0,Good,1303.01,39.783993,No,246.992319,257.808099,High_spent_Medium_value_payments,963.921581,Good,218.0
22,July,34,Engineer,143162.64,12187.220000,1,5,8,3,8,6.0,7.1,3.0,Good,1303.01,38.068624,No,246.992319,263.174163,High_spent_Small_value_payments,968.555517,Standard,219.0
23,August,34,Engineer,143162.64,12187.220000,1,5,8,3,8,6.0,7.1,3.0,Good,1303.01,38.374753,No,246.992319,NaN,High_spent_Small_value_payments,895.494583,Standard,220.0
24,January,54,Entrepreneur,30689.89,2612.490833,2,5,4,1,0,6.0,1.99,4.0,Good,632.46,26.544229,No,16.415452,81.228859,Low_spent_Large_value_payments,433.604773,Standard,207.0
25,February,54,Entrepreneur,30689.89,2612.490833,2,5,4,1,5,3.0,1.99,4.0,Good,632.46,35.279982,No,16.415452,124.881820,Low_spent_Small_value_payments,409.951812,Standard,208.0
26,March,55,Entrepreneur,30689.89,2612.490833,2,5,4,1,3,9.0,1.99,4.0,Good,632.46,32.301163,NM,16.415452,83.406509,High_spent_Medium_value_payments,411.427123,Standard,209.0
27,April,55,Entrepreneur,30689.89_,2612.490833,2,5,4,1,7,6.0,-2.01,4.0,Good,632.46,38.132348,No,16.415452,272.334037,Low_spent_Small_value_payments,262.499594,Standard,210.0
28,May,55,Entrepreneur,30689.89,2612.490833,2,5,4,1,5,6.0,-1.01,4.0,Good,632.46,41.154317,No,16.415452,NaN,Low_spent_Large_value_payments,359.374916,Standard,211.0
29,June,55,_______,30689.89,2612.490833,2,5,4,1,5,6.0,-3.01,4.0,_,632.46,27.445422,No,16.415452,84.952848,High_spent_Small_value_payments,419.880784,Standard,212.0
30,July,55,Entrepreneur,30689.89,2612.490833,2,5,4,1,5,NaN,1.99,4.0,Good,632.46,26.056395,No,16.415452,71.283675,Low_spent_Large_value_payments,443.549957,Standard,213.0
31,August,55,Entrepreneur,30689.89,2612.490833,2,5,4,-100,4,9.0,1.99,4.0,Good,632.46,27.332515,No,16.415452,125.617251,High_spent_Small_value_payments,379.216381,Standard,214.0
32,January,21,Developer,35547.71_,2853.309167,7,5,5,0,5,NaN,2.58,4.0,Standard,943.86,39.797764,Yes,0.000000,276.725394,!@9#%8,288.605522,Standard,368.0
33,February,21,Developer,35547.71,2853.309167,7,5,5,0,9,NaN,2.58,4.0,Standard,943.86,27.020360,NM,0.000000,74.443641,High_spent_Medium_value_payments,460.887276,Standard,369.0
34,March,21,Developer,35547.71,2853.309167,7,5,5,-100,5,12.0,2.58,4.0,Standard,943.86,23.462303,Yes,0.000000,173.138651,Low_spent_Medium_value_payments,392.192266,Standard,370.0
35,April,21,Developer,35547.71,2853.309167,7,5,5,0,1,15.0,2.58,4.0,_,943.86,28.924954,Yes,0.000000,96.785485,High_spent_Medium_value_payments,438.545432,Standard,371.0
36,May,21,Developer,35547.71,2853.309167,7,5,5,0,9,17.0,2.58,4.0,_,943.86,41.776187,Yes,0.000000,62.723278,High_spent_Small_value_payments,482.607638,Standard,372.0
37,June,21,Developer,35547.71,2853.309167,7,5,5,0_,5,15.0,2.58,4.0,Standard,943.86,29.217556,Yes,0.000000,37.643638,High_spent_Medium_value_payments,497.687279,Standard,373.0
38,July,21,Developer,35547.71,2853.309167,7,5,5,0,10,15.0,2.58,4.0,Standard,943.86,26.263823,Yes,0.000000,181.011983,Low_spent_Small_value_payments,394.318934,Standard,374.0
39,August,21,Developer,35547.71,2853.309167,7,5,5,-100,1,15.0,2.58,4.0,Standard,943.86,25.862922,Yes,0.000000,181.330901,High_spent_Small_value_payments,364.000016,Standard,375.0
40,January,31,Lawyer,73928.46,5988.705000,4,1288,8,0,12,10.0,10.14,2.0,Good,548.2,39.962685,No,15015.000000,98.674410,High_spent_Large_value_payments,740.196090,Good,383.0
41,February,31,_______,73928.46,5988.705000,4,5,8,0,8,7.0,10.14,2.0,Good,548.2,42.769864,NM,0.000000,172.939214,Low_spent_Medium_value_payments,705.931286,Good,384.0
42,March,31,Lawyer,73928.46,5988.705000,4,5,8,0,8,7.0,10.14,2.0,Good,548.2,40.712187,No,0.000000,150.059734,High_spent_Medium_value_payments,698.810766,Good,385.0
43,April,31,Lawyer,73928.46,5988.705000,4,5,8,0,8,7.0,10.14,2.0,Good,548.2,30.201658,No,0.000000,618.202391,Low_spent_Small_value_payments,270.668109,Good,386.0
44,May,31,Lawyer,73928.46,5988.705000,4,5,5318,0,11,7.0,10.14,2.0,_,548.2,26.333310,No,0.000000,177.951836,Low_spent_Large_value_payments,690.918664,Good,387.0
45,June,31,Lawyer,73928.46,5988.705000,4,5,8,0,7,7.0,10.14,2.0,Good,548.2,35.275437,No,15515.000000,235.790325,Low_spent_Large_value_payments,633.080175,Good,388.0
46,July,31,Lawyer,73928.46,5988.705000,4,5,8,0,8,4.0,9.14,2.0,_,548.2,36.624791,No,0.000000,348.509400,High_spent_Small_value_payments,510.361100,Standard,389.0
47,August,31,Lawyer,73928.46,5988.705000,4,5,8,0,8,7.0,10.14,2.0,Good,548.2,31.580990,No,0.000000,42.635590,!@9#%8,796.234910,Good,390.0
48,January,33,Lawyer,131313.4,11242.783333,0,1,8,2,0,3.0,9.34,2.0,Good,352.16,32.200509,NM,137.644605,378.171254,High_spent_Medium_value_payments,858.462474,Good,367.0
49,February,34,Lawyer,131313.4,11242.783333,0,1,8,2,-1,2.0,15.34,4.0,Good,352.16,31.983710,No,137.644605,698.873271,High_spent_Small_value_payments,547.760457,Good,368.0
50,March,34,Lawyer,131313.4,10469.207759,0,1,8,2,0,3.0,9.34,4.0,Good,352.16,31.803134,NM,911.220179,188.064321,High_spent_Large_value_payments,1038.569407,Good,369.0
51,April,34,Lawyer,131313.4,10469.207759,0,1,8,2,0,2.0,8.34,4.0,Good,352.16,42.645785,No,23834.000000,337.434956,High_spent_Medium_value_payments,899.198772,Good,370.0
52,May,34,Lawyer,131313.4,10469.207759,0,1,8,2,0,4.0,9.34,4.0,Good,352.16,40.902517,No,32662.000000,263.378909,High_spent_Large_value_payments,963.254819,Good,371.0
53,June,34,Lawyer,131313.4,10469.207759,0,1,8,-100,0,3.0,11.34,4.0,Good,352.16,41.980170,No,911.220179,86.566388,High_spent_Large_value_payments,1140.067340,Standard,372.0
54,July,34_,Lawyer,10909427.0,10469.207759,0,1,8,2,0,2.0,9.34,4.0,Good,352.16,26.947565,No,911.220179,930.391898,!@9#%8,326.241830,Good,373.0
55,August,34,Lawyer,131313.4,10469.207759,0,1,8,2,0,2.0,9.34,4.0,Good,352.16,29.187913,No,911.220179,870.522382,Low_spent_Medium_value_payments,396.111346,Good,374.0
56,January,7580,Media_Manager,34081.38_,2611.115000,8,7,15,3,30,11.0,17.13,5.0,Standard,1704.18,24.448063,NM,70.478333,162.441009,Low_spent_Large_value_payments,298.192158,Poor,175.0
57,February,30,Media_Manager,34081.38,2611.115000,8,7,15,3,30,14.0,17.13,5.0,_,1704.18,35.171160,Yes,70.478333,38.436983,High_spent_Large_value_payments,392.196185,Poor,176.0
58,March,30_,Media_Manager,34081.38,2611.115000,8,7,15,3,31,14.0,17.13,5.0,Standard,1704.18,35.111552,Yes,70.478333,199.720765,Low_spent_Large_value_payments,260.912402,Poor,177.0
59,April,30,_______,34081.38,2611.115000,8,7,15,3,34,14.0,21.13,5.0,_,1704.18,29.762159,Yes,70.478333,220.552192,Low_spent_Small_value_payments,260.080975,Poor,178.0
60,May,30,_______,34081.38,2611.115000,8,7,15,3,27,14.0,17.13,5.0,_,1704.18,30.206214,Yes,70.478333,NaN,High_spent_Large_value_payments,397.228355,Standard,179.0
61,June,30,Media_Manager,34081.38,2611.115000,8,7,15,-100,30,14.0,18.13,5.0,Standard,1704.18,31.170872,Yes,70.478333,NaN,!@9#%8,410.674366,Standard,180.0
62,July,30,Media_Manager,34081.38,2611.115000,8,7,15,3,30,11.0,17.13,5.0,Standard,1704.18,38.438505,NM,70.478333,55.459781,High_spent_Small_value_payments,395.173387,Standard,181.0
63,August,30,Media_Manager,34081.38,2611.115000,8,7,15,3,30,14.0,17.13,9.0,_,1704.18,33.823488,Yes,70.478333,29.326364,High_spent_Medium_value_payments,411.306804,Poor,182.0
64,January,23,Doctor,114838.41,9843.867500,2,5,7,-100,13,11.0,8.24,3.0,Good,1377.74,33.664554,No,226.892792,215.193516,High_spent_Small_value_payments,802.300442,Good,256.0
65,February,23,Doctor,114838.41,9843.867500,2,5,7,3,14,8.0,_,3.0,Good,1377.74,27.626325,NM,226.892792,212.235602,High_spent_Large_value_payments,785.258356,Good,257.0
66,March,23,Doctor,114838.41_,9843.867500,2,5,7,3,11,11.0,_,3.0,Good,1377.74,35.141567,NM,226.892792,470.385796,High_spent_Small_value_payments,547.108162,Good,258.0
67,April,23,Doctor,114838.41,9843.867500,2,5,7,3,11,14.0,8.24,8.0,Good,1377.74,30.459032,No,226.892792,225.082049,!@9#%8,772.411909,Good,259.0
68,May,23,Doctor,114838.41,9843.867500,2,5,7,3,11,11.0,11.24,8.0,Good,1377.74,29.819187,No,226.892792,649.809364,High_spent_Small_value_payments,367.684594,Standard,260.0
69,June,24,Doctor,114838.41,9843.867500,2,5,7,3,13,14.0,8.24,8.0,_,1377.74,26.114214,NM,226.892792,546.380571,!@9#%8,491.113388,Good,261.0
70,July,24,Doctor,114838.41,9843.867500,2,5,7,3,11,NaN,8.24,8.0,Good,1377.74,31.767516,No,226.892792,215.468298,High_spent_Medium_value_payments,792.025660,Good,262.0
71,August,24_,Doctor,114838.41,9843.867500,2,5,7,3,11,11.0,8.24,8.0,Good,1377.74,27.813354,No,226.892792,254.571767,High_spent_Large_value_payments,742.922191,Standard,263.0
72,January,44,Journalist,31370.8,2825.233333,0,5,12,2,4,0.0,5.76,2.0,Good,421.43,29.519353,NM,46.616129,154.352781,High_spent_Small_value_payments,341.554423,Good,317.0
73,February,44,Journalist,31370.8,2825.233333,1,6,12,2,2,0.0,-1.2400000000000002,2.0,Good,421.43,28.220481,No,46.616129,298.744469,Low_spent_Small_value_payments,227.162735,Good,318.0
74,March,44,Journalist,31370.8,2825.233333,1,6,12,2,-2,0.0,1.7599999999999998,5.0,Good,421.43,31.046418,No,46.616129,140.820696,Low_spent_Medium_value_payments,375.086508,Good,319.0
75,April,44,Journalist,31370.8,2825.233333,1,6,12,2,1,0.0,5.76,5.0,_,421.43,30.168030,No,46.616129,233.605526,Low_spent_Small_value_payments,292.301678,Good,320.0
76,May,44,Journalist,31370.8,2825.233333,1,6,12,2,1,0.0,5.76,5.0,_,421.43,25.189232,No,16415.000000,184.700572,Low_spent_Small_value_payments,341.206633,Good,321.0
77,June,44,Journalist,31370.8,2825.233333,1,6,12,2,1,0.0,5.76,5.0,Good,421.43,25.502469,No,46.616129,137.717425,Low_spent_Medium_value_payments,378.189779,Good,322.0
78,July,45,Journalist,31370.8,2825.233333,1,6,12,-100,-1,2.0,5.76,5.0,Good,421.43,22.762202,No,46.616129,188.394900,Low_spent_Small_value_payments,337.512304,Good,323.0
79,August,45,Journalist,31370.8,2825.233333,1,6,12,2,-2,2.0,5.76,5.0,_,421.43,37.565053,No,46.616129,252.644827,Low_spent_Small_value_payments,273.262377,Good,324.0
80,January,40,Teacher,33751.27,2948.605833,5,5,20,3_,16,20.0,11.0,4.0,Standard,1328.93,37.089076,NM,65.008174,117.306697,High_spent_Medium_value_payments,362.545712,Standard,230.0
81,February,40,Teacher,33751.27,2948.605833,5,5,20,3,16,20.0,11.0,4.0,Standard,1328.93,30.908081,Yes,65.008174,70.131078,High_spent_Large_value_payments,399.721331,Standard,231.0
82,March,40,_______,33751.27,2948.605833,5,5,20,3,16,20.0,11.0,8.0,Standard,1328.93,38.030722,Yes,65.008174,270.182582,Low_spent_Large_value_payments,229.669827,Standard,232.0
83,April,40,Teacher,33751.27,2948.605833,5,5,20,3,17,22.0,11.0,8.0,Standard,1328.93,23.404413,Yes,65.008174,25.192562,High_spent_Large_value_payments,444.659847,Standard,233.0
84,May,40,Teacher,33751.27,2948.605833,5,5,20,3_,16,20.0,8.0,8.0,Standard,1328.93,29.073758,Yes,65.008174,243.329685,Low_spent_Small_value_payments,276.522724,Standard,234.0
85,June,40,Teacher,33751.27,2948.605833,5,5,20,3,16,20.0,11.0,8.0,Standard,1328.93,32.782637,Yes,65.008174,72.860082,High_spent_Medium_value_payments,406.992327,Standard,235.0
86,July,40,Teacher,33751.27,2948.605833,5,5,20,3,16,20.0,11.0,8.0,Standard,1328.93,35.584005,Yes,65.008174,35.427170,!@9#%8,444.425240,Standard,236.0
87,August,41,Teacher,33751.27,2948.605833,5,5,20,3,16,17.0,11.0,8.0,Standard,1328.93_,31.139484,Yes,65.008174,25.969612,High_spent_Large_value_payments,443.882797,Standard,237.0
88,January,32,Engineer,88640.24,7266.686667,3,6,1,2,-1,0.0,3.51,3.0,Good,950.36,28.210617,No,135.173371,98.931764,High_spent_Large_value_payments,732.563532,Standard,305.0
89,February,33_,Engineer,88640.24,7266.686667,3,6,433,2,4,2.0,3.51,3.0,Good,950.36,41.036168,NM,135.173371,157.174788,High_spent_Large_value_payments,674.320507,Good,306.0
90,March,33,Engineer,88640.24,7266.686667,3,6,1,2,4,0.0,3.51,3.0,Good,950.36,34.670194,No,135.173371,298.188911,High_spent_Medium_value_payments,543.306384,Standard,307.0
91,April,33,Engineer,88640.24,7266.686667,3,6,1,2,4,2.0,3.51,3.0,Good,950.36,31.828536,No,135.173371,NaN,Low_spent_Small_value_payments,86.636120,Standard,308.0
92,May,33,Engineer,88640.24,7266.686667,3,6,1,2,4,2.0,3.51,3.0,Good,950.36,34.702837,No,135.173371,279.618622,High_spent_Medium_value_payments,561.876674,Good,309.0
93,June,33,Engineer,88640.24,7266.686667,3,6,1,2,4,0.0,3.51,3.0,Good,950.36,38.323639,No,135.173371,686.126217,Low_spent_Small_value_payments,195.369079,Good,310.0
94,July,33,Engineer,88640.24_,7266.686667,3,6,1,2_,4,2.0,3.51,3.0,_,950.36,25.979173,No,80357.000000,164.074822,High_spent_Large_value_payments,667.420474,Good,311.0
95,August,33,Engineer,88640.24,7266.686667,3,6,1,2,-1,NaN,3.51,3.0,Good,950.36,30.870799,No,135.173371,98.441951,High_spent_Large_value_payments,733.053344,Good,312.0
96,January,35,Entrepreneur,54392.16,4766.680000,6,4,14,3,10,8.0,5.54,3.0,Standard,179.22,25.649246,Yes,124.392082,243.735437,Low_spent_Large_value_payments,378.540480,Standard,322.0
97,February,35_,Entrepreneur,54392.16,4766.680000,6,4,14,3,10,10.0,4.54,3.0,Standard,179.22,29.408775,Yes,124.392082,142.751864,High_spent_Medium_value_payments,459.524053,Standard,323.0
98,March,35,Entrepreneur,54392.16_,4766.680000,6,4,14,3,15,11.0,5.54,3.0,_,179.22,31.258928,NM,124.392082,33.349569,High_spent_Large_value_payments,558.926349,Standard,324.0
99,April,35,Entrepreneur,54392.16,4766.680000,6,4,14,3,10,7.0,0.54,3.0,Standard,179.22,27.192587,Yes,124.392082,494.842228,Low_spent_Small_value_payments,147.433690,Standard,325.0