In [1]:
import os
import numpy as np
import pandas as pd

C:\Users\user\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
# # Walk through "data" folder, printing directories and files 
# # to use their names for file paths

# for root, dirs, files in os.walk("data"):
#     print("Current Directory:", root)
#     print()
#     print("Subdirectories:", dirs)
#     print()
#     print("Files:", files)

In [3]:
main_dir = 'data/raw/'
train_file_name = 'train.csv'
test_file_name = 'test.csv'

In [4]:
train_file_path = os.path.join(main_dir, train_file_name)
test_file_name = os.path.join(main_dir, test_file_name)

In [5]:
train_df = pd.read_csv(train_file_path)
test_df = pd.read_csv(test_file_name)

<ipython-input-5-f12fa1568102>:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  train_df = pd.read_csv(train_file_path)

In [6]:
train_df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [7]:
train_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Monthly_Inhand_Salary,84998.0,4194.170850,3183.686167,303.645417,1625.568229,3093.745000,5957.448333,15204.633333
Num_Bank_Accounts,100000.0,17.091280,117.404834,-1.000000,3.000000,6.000000,7.000000,1798.000000
Num_Credit_Card,100000.0,22.474430,129.057410,0.000000,4.000000,5.000000,7.000000,1499.000000
Interest_Rate,100000.0,72.466040,466.422621,1.000000,8.000000,13.000000,20.000000,5797.000000
Delay_from_due_date,100000.0,21.068780,14.860104,-5.000000,10.000000,18.000000,28.000000,67.000000
Num_Credit_Inquiries,98035.0,27.754251,193.177339,0.000000,3.000000,6.000000,9.000000,2597.000000
Credit_Utilization_Ratio,100000.0,32.285173,5.116875,20.000000,28.052567,32.305784,36.496663,50.000000
Total_EMI_per_month,100000.0,1403.118217,8306.041270,0.000000,30.306660,69.249473,161.224249,82331.000000

# Data preprocessing

In [9]:
# Set pandas to show all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [10]:
# missing values

In [11]:
train_df.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

In [13]:
for column in ["Monthly_Inhand_Salary", "Num_Credit_Inquiries"]:
    train_df[column] = train_df.groupby("Customer_ID")[column].transform(
        lambda x: x.fillna(method="ffill").fillna(method="bfill")
    )

In [14]:
def convert_to_months(age_str):
    if pd.isna(age_str):  # Check if the value is NaN or None
        return None
    
    years, months = 0, 0
    # Extract the number of years and months from the string
    if 'Year' in age_str:
        years = int(age_str.split(' Year')[0])  # Get years
    if 'Month' in age_str:
        months = int(age_str.split(' Month')[0].split('and')[-1].strip())  # Get months
    return (years * 12) + months  # Convert to months

In [15]:
train_df["age_in_months"] = train_df["Credit_History_Age"].apply(convert_to_months)

In [16]:
train_df.drop(['Credit_History_Age'], axis=1, inplace=True)

In [17]:
def fill_first_value(x):
    """Find the first non-null value in the group or infer from the second element."""
    if pd.isna(x.iloc[0]):  # If the first element is NaN
        non_nulls = x.dropna()
        if len(non_nulls) > 0:
            return non_nulls.iloc[0] - 1  # Use the second element - 1
        else:
            return np.nan  # If the entire group is NaN, keep it NaN
    return x.iloc[0]  # Otherwise, use the first element

In [18]:
train_df['age_in_months_filled'] = train_df.groupby('Customer_ID')['age_in_months'].transform(
    lambda x: fill_first_value(x) + range(len(x))
)

In [19]:
# Columns to clean
columns_to_clean = ["Num_of_Delayed_Payment", "Amount_invested_monthly", "Monthly_Balance"]

# Step 1: Replace '10000' with NaN in selected columns
train_df[columns_to_clean] = train_df[columns_to_clean].replace("__10000__", np.nan)

# Step 2: Fix values like '8_' to '8' in selected columns
train_df[columns_to_clean] = train_df[columns_to_clean].astype(str).apply(lambda col: col.str.replace(r"_$", "", regex=True))

# Step 3: Convert selected columns to numeric (errors='coerce' converts invalid values to NaN)
train_df[columns_to_clean] = train_df[columns_to_clean].apply(pd.to_numeric, errors="coerce")

# Step 4: Replace negative values with NaN in selected columns
train_df[columns_to_clean] = train_df[columns_to_clean].where(train_df[columns_to_clean] >= 0, np.nan)

In [21]:
# duplicates

In [22]:
train_df.drop_duplicates(inplace=True)

In [24]:
# Rename 'age_in_months_filled' to 'Credit_History_Age'
train_df.rename(columns={'age_in_months_filled': 'Credit_History_Age'}, inplace=True)

In [25]:
# Convert Age to numeric (if not already)
train_df["Age"] = pd.to_numeric(train_df["Age"], errors="coerce")

# Replace each Age value with the most common (mode) value for each Customer_ID
train_df["Age"] = train_df.groupby("Customer_ID")["Age"].transform(lambda x: x.mode()[0] if not x.mode().empty else x)

In [26]:
train_df["Occupation"] = train_df.groupby("Customer_ID")["Occupation"].transform(lambda x: x.mode()[0] if not x.mode().empty else x)

In [27]:
train_df["Num_Credit_Card"] = train_df.groupby("Customer_ID")["Num_Credit_Card"].transform(lambda x: x.mode()[0] if not x.mode().empty else x)

In [28]:
train_df["Interest_Rate"] = train_df.groupby("Customer_ID")["Interest_Rate"].transform(lambda x: x.mode()[0] if not x.mode().empty else x)

In [29]:
train_df["Num_of_Loan"] = train_df.groupby("Customer_ID")["Num_of_Loan"].transform(lambda x: x.mode()[0] if not x.mode().empty else x)

In [30]:
train_df["Num_Credit_Inquiries"] = train_df.groupby("Customer_ID")["Num_Credit_Inquiries"].transform(lambda x: x.mode()[0] if not x.mode().empty else x)

In [31]:
train_df["Credit_Mix"] = train_df.groupby("Customer_ID")["Credit_Mix"].transform(lambda x: x.mode()[0] if not x.mode().empty else x)

In [32]:
train_df["Num_Credit_Inquiries"] = train_df.groupby("Customer_ID")["Num_Credit_Inquiries"].transform(lambda x: x.mode()[0] if not x.mode().empty else x)

In [33]:
train_df["Payment_of_Min_Amount"].replace("NM", "No", inplace=True)

In [34]:
train_df["Payment_Behaviour"].replace("!@9#%8", np.nan, inplace=True)

In [35]:
train_df["Annual_Income"] = train_df["Annual_Income"].astype(str).str.replace(r"_$", "", regex=True)
train_df["Annual_Income"] = pd.to_numeric(train_df["Annual_Income"], errors="coerce")

In [36]:
# drop unnecessary features

In [37]:
train_df.drop(['ID', 'Customer_ID', 'Name', 'SSN', 'Type_of_Loan',  'age_in_months'], axis=1, inplace=True)

# Feature importance

In [38]:
train_df.isnull().sum()

Month                          0
Age                            0
Occupation                     0
Annual_Income                  0
Monthly_Inhand_Salary          0
Num_Bank_Accounts              0
Num_Credit_Card                0
Interest_Rate                  0
Num_of_Loan                    0
Delay_from_due_date            0
Num_of_Delayed_Payment      7646
Changed_Credit_Limit           0
Num_Credit_Inquiries           0
Credit_Mix                     0
Outstanding_Debt               0
Credit_Utilization_Ratio       0
Payment_of_Min_Amount          0
Total_EMI_per_month            0
Amount_invested_monthly     8784
Payment_Behaviour           7600
Monthly_Balance             1209
Credit_Score                   0
Credit_History_Age             0
dtype: int64